@model TestLaborator.Models.Librarie

<h2>Adauga Librarie</h2>

@using (Html.BeginForm("AdaugaLibrarie", "Librarii", FormMethod.Post,
    new {@class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()
    <h3 style="font-weight: bold; color: #000000">Adauga o librarie :</h3>
    @Html.ValidationSummary("", new {@class = "text-danger"})
    // Denumire
    <div class="form-group">
        @Html.LabelFor(m => m.Denumire, "Denumire", new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Denumire, new {@class = "form-control"})
        </div>
    </div>
    // SubmitButton
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Adauga Librarie"/>
        </div>
    </div>
}